* {
  box-sizing: border-box;
}

.body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
}

.taskBoard {
  display: flex;
  border: 2px solid black;
  flex: 1;
}